.research-topic {
  font-size: 16px;
  color: white;

  .research-prof {
    &:hover {
      color: #66fcf1;
      cursor: pointer;
    }
  }
}

.research-objectives {
  color: tan;
  font-size: 15px;
}
