.edu-container {
  //   margin: 1vh auto 0;
  padding: 1% 2%;
}

.edu-institution {
  color: white;
  font-size: 18px;
}

.edu-list {
  list-style: none;
  padding-left: 0;
  color: tan;
  font-size: 16px;
}
